.cards__details {
  display: block;
  margin-bottom: 6px;

  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  background-color: $white;
}

.cards__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
}

.cards__about {
  margin: 0;
  margin-bottom: 26px;

  font-size: 15px;
}

.cards__specification {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 30px;
}

.cards__picture {
  margin: 0;
  margin-bottom: 19px;
}

.cards__price {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  text-align: left;
  font-size: 15px;

}

.cards__image {
  width: 100%;
}
