.cards__image {
  display: block;
  width: 100%;
}

.cards__details {
  display: block;
  margin-bottom: 4px;

  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  background-color: $white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.cards__title {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.cards__specification {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 30px;
}

.cards__price {
  display: block;
  margin: 0 auto 0 0;
  padding-top: 5px;

  font-weight: 700;
  font-size: 15px;
  color: $black;
}

.cards__order {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;

  &:hover .cards__icon {
    fill: $color-light1;
    opacity: 1;
  }

  &:active .cards__icon {
    fill: $color-light1;
    opacity: 0.3;
  }
}

.cards__icon {
  position: absolute;
  top: 6px;
  right: -2px;
  opacity: 0.2;
}

.cards__buy {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 16px 0 17px;
  min-height: 73px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background: $grey-white;
  }
}

@media (min-width: $tablet-width) {
  .cards__details {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .cards__title {
    padding-right: 40px;
    font-size: 20px;
  }

  .cards__image {
    width: 334px;
    height: 334px;
  }

  .cards__specification {
    margin-bottom: auto;

    font-size: 15px;
  }

  .cards__price {
    font-size: 17px;
    padding-top: 8px;
    padding-left: 5px;
  }

  .cards__icon {
    top: 7px;
    right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .cards__details {
    margin-bottom: 5px;
  }

  .cards__image {
    width: 316px;
    height: 462px;
  }

  .cards__title {
    padding-right: 25px;
    font-size: 20px;
  }

  .cards__price {
    padding-top: 7px;
    padding-left: 0;
  }
}
