.catalog__wrapper {
  display: block;
  padding: 30px;
}

.catalog__description {
  display: block;
  padding: 14px 28px 30px;

  text-align: left;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    display: block;
    padding: 60px 50px 30px;
  }

  .catalog__item {
    display: flex;

  }
  .catalog__image,
  .catalog__description  {
    flex-grow: 1;
  }
}
