.catalog__wrapper {
  display: block;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.catalog__description {
  display: block;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 30px;
  padding-left: 28px;

  text-align: left;
}
