.catalog__wrapper {
  display: block;
  padding: 30px 30px 0;
}

.catalog__item {
  border: 1px solid $grey-white;
  margin-bottom: 29px;
}

.catalog__description {
  display: block;
  box-sizing: border-box;
  padding: 27px 27px 0;
  border: 1px solid $grey-white;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    display: block;
    padding: 76px 50px 0;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 52px;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 0;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding: 130px 50px 0;
  }

  .catalog__list {
    margin-left: -50px;
    display: flex;
  }

  .catalog__item {
    display: block;
    margin-left: 50px;
    margin-bottom: 56px;
    width: 33%;
  }

  .catalog__description {
    min-height: 197px;
    width: 100%;
    padding: 25px 25px 0;
  }
}
