.colour__list {
  margin-top: 14px;
  margin-bottom: 11px;
}

.colour__description {
  display: block;
  padding-top: 12px;
  padding-bottom: 31px;
  padding-left: 62px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
}
