.contacts__wrapper {
  display: block;
  padding: 35px 30px 8px 28px;
}

.contacts__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border-collapse: collapse;
  line-height: 30px;
  text-align: left;
}

.contacts__title {
  margin: 0;
  padding-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  background-color: $white;
}

.contacts__field{
  vertical-align: top;
  width: 76px;
}

.contacts__map {
  width: 320px;
  margin: 0 auto;
}

.contacts__feedback {
  text-decoration: none;
  text-transform: uppercase;
  color: $greyish-dark;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 33px;
}
