.customer-about__list {
  padding-top: 19px;
  margin-bottom: 9px;
}

.customer-about__title {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
  background-color: $white;
}

.customer-about__text {
  border: none;
  width: 100%;
  min-width: 260px;
  border-bottom: 2px solid $black;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 18px;
  color: $greyish-dark;
  background-color: $white;
  &::placeholder {
    font-size: 17px;
    color: rgba($greyish-dark, 0.3);
  }
  &:hover {
    border-bottom: 2px solid $color-light;
  }
    &:active {
    border-bottom: 2px solid $color-light;
  }
}
