.features__wrapper {
  display: block;
  padding: 27px 30px 26px;
}

.features__title {
  margin: 0;
  padding-bottom: 2px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  background-color: $white;
}

.features__item {
  padding-top: 83px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $black;
  background-color: $white;
  &--nature {
    background:transparent url('../img/icon-feature-flower.svg') left 7px top 30px no-repeat;
  }
  &--price {

  }
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    padding: 50px 50px 71px;
}
  .features__title {
    font-size: 43px;
    line-height: 50px;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    padding-top: 100px;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 22px;
    width: 50%;
    &--nature {
    background:transparent url('../img/icon-feature-flower.svg') left 9px top 47px no-repeat;
    }
    &--knit {
      order: 1;
    }
    &--price {
      order: 2;
    }
    &--help {
      order: 3;
    }
    &--like {
      order: 4;
    }
    &--gift {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    padding: 59px 100px 80px;
  }
  .features__title {
    padding-left: 172px;
    font-size: 53px;
    line-height: 57px;
  }

  .features__list {
    padding-left: 175px;
  }

  .features__item {
    width: 350px;
    margin-bottom: 10px;
  }
}
