.form__footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  min-width: 320px;
  max-width: 1150px;
}

.form__set {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 9px;
  display: block;
  background: $white;
  position: relative;
  padding: 0;
  flex-shrink: 0;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-light1;
}

.form__title-name {
  position: relative;
  background: $white;
  padding-right: 20px;
}

@media (max-width: $mobile-only-width) {
  .form__title {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background: $color-light;
    }
  }
}

.form__legend {
  display: inline-block;
  margin-bottom: 28px;
  font-size: 14px;
}

.form__button {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $greyish-dark;
  background-color: $white;

  &:hover {
    background-color: $greyish-dark;
    color: $white;
    cursor: pointer;
  }

  &:active {
    background-color: $greyish-dark;
    color: rgba($white, 0.3);
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .form__title {
    display: block;
    margin: 0;
    width: 167px;
    padding-top: 20px;
    background-color: transparent;
  }

  .form__title-name {
    background-color: transparent;
  }

  .form__legend {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    padding-top: 8px;
  }

  .form__button {
    width: auto;
    padding: 14px 30px;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 24px 50px 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    width: 125px;
  }

  .form__title-name {
    padding: 0;
  }

  .form__footer {
    padding: 20px 225px 50px;
  }

  .form__legend {
    padding-top: 9px;
  }
}
