.form__set {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid $color-light; /*временно из-за Firefox. Позже сделаю через ::after */
}

.form__set-name {
  display: block;
  box-sizing: border-box;
  min-width: 62px;
  padding: 0;
  padding-right: 15px;
  margin-bottom: 9px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-light1;
}

.form__user-phone,
.form__user-mail {
  box-sizing: border-box;
  border: none;
  box-shadow: inset 0px -2px 0 0 $black;
  padding-top: 12px;
  padding-right: 43px;
  padding-bottom: 17px;
  margin-bottom: 32px;
  width: 100%;
  min-width: 260px;
  font-size: 17px;
  &::placeholder {
    font-size: 17px;
    color: rgba($greyish-dark, 0.3);
  }
  &:hover {
  box-shadow: inset 0px -2px 0 0 $color-light;
  }
  &:active {
  box-shadow: inset 0px -2px 0 0 $color-light;
  }
}

.form__order-about {
  box-sizing: border-box;
  border: none;
  margin-top: 15px;
  width: 100%;
  min-width: 260px;
  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-left: 17px;

  font-size: 17px;
  border: 2px solid $greyish-dark;
  background-color: $white;
  &::placeholder {
    font-size: 17px;
    color: rgba($greyish-dark, 0.3);
  }
  &:hover {
    border: 2px solid $color-light;
  }
  &:active {
    border: 2px solid $color-light;
  }
}

.form__legend {
  display: inline-block;
  margin-bottom: 30px;

  font-size: 14px;
}

.form__button {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $greyish-dark;
  background-color: $white;
  &:hover {
    background-color: $greyish-dark;
    color: $white;
    cursor: pointer;
  }
  &:active {
    background-color: $greyish-dark;
    color: rgba($white, 0.3);
    cursor: pointer;
  }
}
