.header-search__link {
  display: block;
  position: relative;
  padding: 29px 30px 26px 76px;

  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  box-shadow: 0 1px 0 0 $grey-white, inset 0 1px 0 0 $grey-white;

  @include black-white-hov60-30;
}

.header-search__icon {
  position: absolute;
  top: 40%;
  left: 32px;
}

@media (min-width: $tablet-width) {
  .header-search {
    width: 80px;
    margin-left: auto;
  }

  .header-search__link {
    padding: 32px 32px;
    font-size: 0;
    box-shadow: none;
  }
}
