.main-nav__toggle {
  display: block;
  position: absolute;
  top: 21px;
  right: 31px;
  border: none;
  width: 20px;
  height: 35px;
  background-color: $white;
  background: url(../img/icon-menu-open.svg) no-repeat 50% 50%;
}

.main-nav__toggle--off {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: -50px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-bottom: -45px;
  }
}
