.making__wrapper {
  display: block;
  padding: 0 30px 60px;
}

.making__title {
  margin: 0;
  display: block;
  padding: 22px 0 24px 91px;
  border: 1px solid $grey-white;
  border-bottom-color: transparent;

  font-size: 17px;
  font-weight: 700;
  color: $black;
  background-color: $white;
}

.making__poster {
  display: block;
}

.making_demo {
  border: 1px solid $grey-white;
  border-top-color: transparent;
  padding: 25px 34px 31px;
}

.making__text {
  margin: 0;
  font-size: 13px;
  padding-bottom: 25px;
}

.making__order {
  display: block;
  padding: 16px 22px;
  width: auto;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $greyish-dark;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .making__poster {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .making__poster {
    width: 682px;
    height: 455px;
  }
}
