.modal-cart__wrapper {
  display: block;
  max-width: 566px;
  padding: 26px 30px 46px;
}

.modal-cart__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  background-color: $white;
}

.modal-cart__button {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  background: $color-light1;
}

@media (min-width: $tablet-width) {
  .modal-cart__wrapper {
    padding: 50px 108px 46px;
    margin: 0 auto;
  }
}
