.order__text {
  margin: 0;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;

  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.order__form {
  display: block;
  box-sizing: border-box;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 55px;
  padding-left: 30px;

}
