.order__wrapper-top {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
}

.order__text {
  margin: 0;
  padding: 22px 30px 0;

  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.order__form {
  display: block;
  box-sizing: border-box;
  padding: 22px 0 55px;
}

@media (min-width: $tablet-width) {
  .order__text {
    font-size: 17px;
    line-height: 30px;
    padding: 70px 50px 0;
  }

  .order__form {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper-top {
    padding: 0 50px;
  }

  .order__text {
    padding: 123px 175px 0;
  }
}
