.order-about__text {
  box-sizing: border-box;
  border: none;
  margin-top: 16px;
  margin-bottom: 5px;
  width: 100%;
  min-width: 260px;
  padding: 12px 17px 12px 17px;

  font-size: 17px;
  border: 2px solid $greyish-dark;
  background-color: $white;
  &::placeholder {
    font-size: 17px;
    color: rgba($greyish-dark, 0.3);
  }
  &:hover {
    border: 2px solid $color-light;
  }
  &:active {
    border: 2px solid $color-light;
  }
}

@media (min-width: $tablet-width) {
  .order-about__wrapper{
    box-sizing: border-box;
    display: flex;
    padding: 50px 50px 30px;
  }

  .order-about__text {
    margin: 0;
  }
}
