.order__text {
  margin: 0;
  padding: 22px 30px 0;

  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.order__form {
  display: block;
  box-sizing: border-box;
  padding: 22px 30px 55px;
}

@media (min-width: $tablet-width) {
  .order__text {
    font-size: 17px;
    line-height: 30px;
    padding: 78px 50px 0;
  }

  .order__form {
    padding: 0;
  }
}
