.page-footer {
  background-color: $greyish-white;
}

.page-footer__wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

.page-footer__social {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-footer__copyright {
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
