.page-footer {
  background-color: $greyish-white;
}

.page-footer__wrapper {
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 30px;
}

.page-footer__social {
  display: block;
  padding: 13px 0;

  &::after {
    content: "";
    display: block;
    background-color: $grey-under;
    height: 1px;
    margin-top: 20px;
  }
}

.page-footer__copyright {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 260px;
  padding: 10px 38px 20px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding: 50px 50px 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    padding: 0;
    display: block;
    margin-right: 86px;
  }

  .page-footer__logo-image {
    width: 102px;
    height: 34px;
    fill: $reddish-dark;

    &:hover {
      fill: $color-middle2;
    }

    &:active {
      opacity: 0.3;
      fill: $color-middle2;
    }
  }

  .page-footer__social {
    padding: 0;
    width: 270px;

    &::after {
      display: none;
    }
  }

  .page-footer__copyright {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 50px 100px 45px;
    max-width: 1250px;
    margin: 0 auto;

    &--inner {
      margin: 0 50px;
      padding: 50px 50px 45px;
    }
  }
}
