.page-main__title {
  margin: 0;
  padding: 0;
  display: block;
  padding-top: 72px;
  padding-right: 30px;
  padding-bottom: 76px;
  padding-left: 30px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $reddish-dark;
  background-color: $greyish-white;
  text-align: center;
}
