.page-header__logo {
  display: block;
  text-align: center;
  padding: 22px 80px 15px;
  box-shadow: 0px 1px 0 0 $grey-white, inset 0px 1px 0 0 $grey-white;
}

.page-header__logo-mini,
.page-header__logo-maxi {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding: 0 50px;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__logo-mini {
    display: block;
    position: absolute;
    top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding: 0 100px;
  }

  .page-header__logo-mini {
    display: none;
  }

  .page-header__logo-maxi {
    display: block;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-75px);
  }
}
