.product-type__list {
  margin-top: 9px;
  margin-bottom: 33px;
}

.product-type__description {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 62px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
}
