.product-type__wrapper {
  min-width: 320px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

.product-type__list {
  margin-top: 20px;
  margin-bottom: 32px;
}

.product-type__description {
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 62px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
  cursor: pointer;

  &:hover {
    &::before {
      border-color: $color-light;
    }
  }

  &:active {
    &::before {
      border-color: rgba($greyish-dark, 0.3);
    }
  }

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid $greyish-dark;
    border-radius: 50%;
  }
}

.product-type__radio:checked + .product-type__description::after {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  left: 11px;
  width: 16px;
  height: 16px;
  background-color: $color-light;
  border-radius: 50%;
}


@media (min-width: $tablet-width) {
  .product-type__wrapper {
    display: flex;
    padding: 50px 50px 30px;
  }

  .product-type__description {
    padding: 23px 0 34px 80px;
    font-size: 19px;
    line-height: 19px;

    &::before {
      top: 5px;
      left: 0;
      width: 52px;
      height: 52px;
    }
  }

  .product-type__radio:checked + .product-type__description::after {
    top: 20px;
    left: 15px;
    width: 22px;
    height: 22px;
    background-color: $color-light;
    border-radius: 50%;
  }

  .product-type__list {
    margin: 0;
    display: block;
    // width: 501px;
  }
}

@media (min-width: $desktop-width) {
  .product-type__wrapper {
    padding: 50px 100px 30px;
    max-width: 1150px;
  }

  .product-typ__title {
    padding-top: 24px;
    padding-left: 12px;
  }
}
