.product-type__list {
  margin-top: 20px;
  margin-bottom: 32px;
}

.product-type__description {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 62px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $tablet-width) {
  .product-type__wrapper {
    box-sizing: border-box;
    display: flex;
    padding: 50px 50px 30px;
  }

  .product-type__description {
    padding: 23px 0 34px 80px;
    font-size: 19px;
    line-height: 19px;
  }

  .product-type__list {
    margin: 0;
    display: block;
    width: 501px;
  }
}

@media (min-width: $desktop-width) {
  .product-type__wrapper {
    padding: 50px 100px 30px;
  }

  .product-typ__title {
    padding-top: 24px;
    padding-left: 12px;
  }
}
