.site-list__link {
  display: block;
  padding-top: 29px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 76px;

  text-align: left;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  background-color: $white;

  box-shadow: 0px 1px 0 0 $grey-white, inset 0px 1px 0 0 $grey-white;
  &:hover {
    color: rgba($black, 0.6);
  }
  &:active {
    color: rgba($black, 0.3);
  }
}
