@media (min-width: $tablet-width) {
  .user-phone {
    background-color: $greyish-white;
  }
  .user-phone__wrapper{
    box-sizing: border-box;
    display: flex;
    padding: 50px 50px 30px;
  }

}
