.week-offer {
  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    background: url("../../img/bg-zigzag-line.svg") repeat-x $color-dark;
    height: 6px;
  }
}

.week-offer__wrapper {
  display: block;
  padding: 27px 30px 36px;
}

.week-offer__order {
  text-decoration: none;
  text-transform: uppercase;
  color: $greyish-dark;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .week-offer {
    &::after {
      height: 15px;
    }
  }

  .week-offer__wrapper {
    padding: 43px 50px 53px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer {
    &::after {
      height: 23px;
      margin: 76px 100px 0;
    }
  }

  .week-offer__wrapper {
    position: relative;
    margin-top: 69px;
    padding: 52px 100px 0;
  }
}
