.week-offer {
  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 136px 0;
    background-size: 320px 6px;
    height: 6px;
  }
}

.week-offer__wrapper {
  display: block;
  position: relative;
  padding: 27px 30px 36px;
}

.week-offer__order {
  text-decoration: none;
  text-transform: uppercase;
  color: $greyish-dark;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .week-offer {
    &::after {
      background-size: 773px 15px;
      background-position: 132px 0;
      height: 15px;
    }
  }

  .week-offer__wrapper {
    padding: 43px 50px 53px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer {
    &::after {
      background-size: 1050px 23px;
      background-position: 130px 0;
      height: 23px;
      margin: 73px 100px 0;
    }
  }

  .week-offer__wrapper {
    position: relative;
    margin-top: 69px;
    padding: 52px 100px 0;
  }
}
