.button {
  display: block;
  margin: 0;
  padding: 14px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $greyish-dark;
  background: transparent;

  text-align: center;

  &:hover {
    color: $white;
    background-color: $greyish-dark;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $greyish-dark;
  }
}
