.button {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  // min-width: 260px;
  border: 2px solid $greyish-dark;
  padding: 14px;
  background: transparent;

  text-align: center;
}
